/* NAVBAR */
header .logo{
  top:20px;
}

header .logo a{

	width: 240px;
	height: 40px;
	background: url("../images/expo/logo3.png") no-repeat center;
	background-size: 240px 40px;

}

@media only screen and (max-width:400px) {

	header .logo a {
		width: 180px;
		height: 30px;
		background-size: 180px 30px;
	}

}
/* CONTENT */
.border-down{
  border-bottom:1px solid #808080;

}
.border-right{
  border-right:1px solid #808080;
}

.block-1-2 .bgrid{

  width:48%;
  padding:15px;
  margin: 1%;
  border:1px solid #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 8px 8px 0 #E5E5E5;
  height:35vh;
}

@media only screen and (max-width:850px) {

.block-1-2 .bgrid {
		height:50vh;
	}

}

@media only screen and (max-width:550px) {

.block-1-2 .bgrid {
		height:70vh;
	}

}
.symbol{
  position: relative;
  font-size: 4rem;
  color: #43B9AA;


}
.bricks-wrapper .entry-thumb .thumb-link::before{
background:rgba(68, 185, 170, 0.8);
}

/* BLOG */
.scholar-blog p{
  margin-bottom: 1rem;
}
.scholar-blog h3{
  margin-top:5rem;
  }
.button-div{
  margin-top:4rem;
  text-align: center;
}
/* Footer */
footer{
  background-color: #DCDCDC;
  margin-top: 20px;
}
/* Video */

#vidBox{
  z-index: 1000;
}
